/* Font family from google font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
}

/* Shared styles */
.text-dark {
  color: #0d1321;
}
.text-gray {
  color: #393a3b;
}
.bg-blue {
  background-color: #406bcf;
}
.bg-orange {
  background-color: #af6e0d;
}
.bg-yellow {
  background-color: #23970c;
}

.section-heading {
  font-weight: 800;
  font-size: 32px;
  color: #0d1321;
  text-align: center;
  margin-bottom: 24px;
}
.section-description {
  font-size: 14px;
  text-align: center;
  color: #393a3b;
  margin-bottom: 45px;
}

/* Banner styles */
.banner {
  width: 1400px;
  height: 650px;
  margin: 0 auto;
  background-image: url("/assets/Hero-bg.png");
  text-align: center;
  margin-bottom: 80px;
}
.banner-container {
  width: 1000px;
  margin: 0 auto;
  padding: 45px 0;
}
.banner-heading {
  font-size: 48px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 25px;
}
.heading-description {
  width: 700px;
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
#banner-btn {
  background-color: #0d1321;
  padding: 24px 20px;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* Why web section  styles */
.why-web {
  width: 1100px;
  height: 1350px;
  padding: 40px 90px;
  margin: 0 auto;
}
.why-web-container {
  width: 900px;
  height: 1200px;
  margin: 0 auto;
}
.content-heading {
  font-size: 24px;
  font-weight: 700;
  color: #393a3b;
  margin-bottom: 16px;
}
.content-description {
  font-size: 14px;
  color: #393a3b;
  margin-bottom: 32px;
}
.content-btn {
  padding: 20px;
  font-weight: 600;
  border: 1px solid rgb(13, 19, 33);
}
.content-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 48px;
}

/* My Inspiration section styles */
.my-inspiration {
  width: 1000px;
  height: 700px;
  padding: 75px 90px;
  margin: 0 auto;
  text-align: center;
}
iframe {
  border-radius: 16px;
}
/* My current target section styles */
.current-target {
  width: 1000px;
  height: 460px;
  margin: 0 auto;
  padding: 48px;
}
.target-container {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
  gap: 10px;
}
.target-content {
  width: 284px;
  height: 219px;
  text-align: center;
  color: white;
  padding: 16px 10px;
}
.target-logo {
  padding: 20px 0;
}
.target-heading {
  font-size: 24px;
  font-weight: 800;
}
.target-description {
  font-size: 12px;
  padding: 20px 0;
}
.target-link {
  font-size: 14px;
  font-weight: bold;
  color: white;
}
/* Next target  section styles */
.next-target {
  padding: 48px;
}
.react {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(88 196 220);
  padding: 30px;
  border-radius: 16px;
  margin-bottom: 16px;
}
.node-js {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(132 186 100);
  padding: 30px;
  border-radius: 16px;
  margin-bottom: 16px;
}
.mongodb {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #184d2e;
  padding: 30px;
  border-radius: 16px;
  margin-bottom: 16px;
}
.next-image {
  padding: 16px 0;
}

/* Support section styles */
.support {
  width: 1140px;
  height: 315px;
  padding: 100px 16px;
  background: url("/assets/handshake.jpg");
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  text-align: center;
}

.section-heading-white {
  color: white;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 64px;
}
.section-description-white {
  font-size: 14px;
  text-align: center;
  color: white;
  margin-bottom: 45px;
  padding-bottom: 10px;
}

.support input {
  padding: 16px;
  border: none;
  border-radius: 5px;
}

.feedback {
  width: 350px;
}
.submit-btn {
  font-weight: 600;
}
footer{
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0  20px;
    align-items: center;

}
footer p{
    font-size: 20px;
    font-weight: 600;
}

footer a{
    padding: 5px;
}